* {}

.tienda {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: $clr_black;
    font-family: 'Lato', sans-serif;

}

.destacados {
    font-family: 'Lato', sans-serif;
    background: $clr-yellow;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        color: $clr_black;
    }

    .container {
        display: grid;
        place-content: center;
        gap: 1ch;
    }

    .slider {
        width: 300px;
        height: 300px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .foto {
        width: 300px;
        flex-shrink: 0;
        height: 100%;
        scroll-snap-align: start;
    }

    @media (min-width: 900px) {
        .slider {
            width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }
}

.productos {
    padding-top: 2rem;
    background: $clr_black;
    color: $clr-yellow;
    display: grid;
    justify-items: center;

    li {
        padding-top: 1rem;
        list-style-type: none;
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
    }

    button {
        border: none;
        margin: 0.5em;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-variant: small-caps;
        background-color: $clr_yellow;
        color: $clr_black;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    button:hover {
        background-color: $clr_black;
        color: $clr_yellow;

    }

    .galeriaproductos>ul>li {
        display: grid;
        justify-items: center;

        p {
            margin: 0.5em;
        }
    }

    @media (min-width: 768px) {

        grid-template-columns: 300px 1fr;

        .galeriaproductos ul {
            display: grid;
            width: 60vw;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        }
    }

}